<div class="container-fluid create_network_container">
  <h3><strong>Create a Network</strong></h3>

  <%= form_for @network do |f| %>
    <div class="field">
      <strong><%= f.label :network_name %></strong><br />
      <%= f.text_field :network_name%>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="actions create_network_button">
      <%= f.submit "Create" %>
    </div>
  <%end%>
  <div class="cancel_link">
    <%= link_to 'Cancel', user_path(current_user.id), method: 'GET', class: "btn btn-info" %>
  </div>
</div>
