<div class="container-fluid network_posts_container">
  <div class="text-center">
    <strong><h3>List of Posts</h3>
    <% @posts.each do |post| %>
      <p>Post Title: <%= link_to post.post_title, post_path(post)%></p>
      <p>Network: <%= post.network.network_name %></p>
      <p>Date Posted: <%= post.post_date.strftime("%A %d %B %Y") %></p>
      <p>Posted By: <%= post.user.first_name %> <%= post.user.last_name %></p><br>
    <%end%></strong>
  </div>
</div>
