<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/show.css" >
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div align="center">
            <%= link_to 'Create Network', new_network_path, class: 'btn btn-success' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div align="center">
            <%= link_to 'Join Network', network_path, class: 'btn btn-warning' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div align="center">
            <%= link_to 'ALL POSTS', all_posts_path, class: 'btn btn-info' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div align="center">
            <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="text-left">
            <% if user_signed_in? %>
            <h2>Welcome <%= @user.first_name %>!</h2>
            <%end%>
          </div>
        </div>

        <div class="text-left">
          <h4>Today is...</h4>
          <h5><%= Time.now.strftime("%A %d %B %Y") %></h5>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <%= form_for @post do |f| %>
            <div class="field">
              <%= f.label :post_title %><br />
              <%= f.text_field :post_title%>
            </div>
            <div class="field">
              <%= f.label :post_content %><br />
              <%= f.text_field :post_content%>
            </div>
            <div>
              <%= f.label :Network %>
              <%= f.collection_select(:network_id, @user_networks, :id, :network_name) %>
            </div>
            <div>
              <%= f.label :pic %>
              <%= f.file_field :pic %>
            </div>

              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :post_date, :value => Time.now %>

            <div class="actions btn">
              <%= f.submit "Post" %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-4">
          <div class="text-left">
            <h4>My Networks:</h4>
            <% @user_networks.each do |user_network| %>
              <ol>
                <h5><%= link_to user_network.network_name, network_posts_path(user_network) %> </h5>
              </ol>
            <%end%>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </body>
</html>
