<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/show.css" >
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default" aria-label="center Align">CALENDAR
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-default" aria-label="center Align">PLUS
          </button>
          <button type="button" class="btn btn-default" aria-label="center Align">SETTINGS
          </button>
        </div>
        <div class="col-sm-2">
          <div align="right pull-">
            <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="text-left">
          <% if user_signed_in? %>
          <h2>Welcome <%= @user.first_name %>!</h2>
          <%end%>
        </div>
        <div class="text-center">
          <%= Time.now.strftime("%A %d %B %Y") %>
        </div>
      </div>

      <div class="row">
        <div class="text-center">
          <% @posts.each do |post| %>
            <p><%= post.post_title %></p>
            <p><%= post.post_date %></p>
            <p><%= post.post_content %></p>
          <%end%>
        </div>
        <footer class="navbar-default navbar-fixed-bottom">
          <div class="container-fluid">
            <span>
              <button type="button" class="btn btn-default pencil-button"  aria-label="center Align">PENCIL
              </button>
            </span>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
