<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/show.css" >
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <button type="button" class="btn btn-default pencil-button"  aria-label="center Align">PENCIL</button>
          <a class="btn btn-primary pull-right" href="/all_posts">ALL POSTS</a>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default" aria-label="center Align">CALENDAR
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-default" aria-label="center Align">PLUS
          </button>
          <button type="button" class="btn btn-default" aria-label="center Align">SETTINGS
          </button>
        </div>
        <div class="col-sm-2">
          <div align="right pull-">
            <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="text-left">
          <% if user_signed_in? %>
          <h2>Welcome <%= @user.first_name %>!</h2>
          <%end%>
        </div>
        <div class="text-center">
          <%= Time.now.strftime("%A %d %B %Y") %>
        </div>
      </div>

      <div class="row">
        <div class="text-right">
            <% @all_users.each do |all_users| %>
              <ul>
                <h4><%= all_users.first_name %> <%= all_users.last_name %></h4>
              </ul>
            <%end%>
        </div>
        <%= form_for @post do |f| %>
          <div class="field">
            <%= f.label :post_title %><br />
            <%= f.text_field :post_title%>
          </div>

          <div class="field">
            <%= f.label :post_content %><br />
            <%= f.text_field :post_content%>
          </div>

          <div>
            <%= f.label :pic %>
            <%= f.file_field :pic %>
          </div>

            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :post_date, :value => Time.now %>

          <div class="actions">
            <%= f.submit "Post" %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
