<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/show.css" >
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    <div class="container-fluid homepage_container">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="text-left">
            <% if user_signed_in? %>
            <div class="welcome_name">
              <h2><strong>Welcome <%= @user.first_name %>!</strong></h2>
            </div>
            <%end%>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="text-left">
            <div class="today_and_networks_text">
              <h4>Today is...</h4>
            </div>
            <div class="today">
              <h5><%= Time.now.strftime("%A %d %B %Y") %></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <%= form_for @post do |f| %>
            <div class="field">
              <div class="post_form">
                <strong><%= f.label :post_title %></strong><br />
              </div>
              <%= f.text_field :post_title%>
            </div>
            <div class="field">
              <div class="post_form">
                <strong><%= f.label :post_content %></strong><br />
              </div>
              <%= f.text_field :post_content%>
            </div>
            <div>
              <div class="post_form">
                <strong><%= f.label :Network %></strong>
              </div>
              <%= f.collection_select(:network_id, @user_networks, :id, :network_name) %>
            </div>
            <div>
              <div class="post_form">
                <%= f.label :photo %>
              </div>
              <%= f.file_field :photo %>
            </div>

              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.hidden_field :post_date, :value => Time.now.strftime("%A %d %B %Y") %>

            <div class="actions btn">
              <%= f.submit "Post" %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-4">
          <div class="text-left">
            <div class="today_and_networks_text">
              <h4>My Networks:</h4>
            </div>
            <% @user_networks.each do |user_network| %>
            <div class="network_list">
              <ol>
                <h5><%= link_to user_network.network_name, network_posts_path(user_network) %> </h5>
              </ol>
            </div>
            <%end%>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </body>
</html>
