<div class="text-left">
  <%= link_to 'Homepage', user_path(current_user.id), method: 'GET' %>
</div>

<div class="text-center">
  <% @posts.each do |post| %>

    <p><%= link_to post.post_title, post_path(post)%></p>
    <p><%= post.post_date %></p>
    <p><%= post.user.first_name %> <%= post.user.last_name %></p>
  <%end%>
</div>
