<div class="text-center">
  <% @posts.each do |post| %>

    <p><%= link_to post.post_title, post_path(post)%></p>
    <p><%= post.post_date %></p>
    <p><%= post.post_content %></p>
    <p><%= post.user.first_name %> <%= post.user.last_name %></p>
  <%end%>
</div>
