<div class="text-left">
  <%= link_to 'Homepage', user_path(current_user.id), method: 'GET', class: 'btn btn-primary' %>
</div>

<div class="text-center">
  <h3>List of Posts</h3>
  <% @posts.each do |post| %>
    <p>Post Title: <%= link_to post.post_title, post_path(post)%></p>
    <p>Date Posted: <%= post.post_date %></p>
    <p>Posted By: <%= post.user.first_name %> <%= post.user.last_name %></p>
  <%end%>
</div>
