<div class="text-center">
  <% @posts.each do |post| %>
    <p><%= post.post_title %></p>
    <p><%= post.post_date %></p>
    <p><%= post.post_content %></p>
    <p><%= (User.find_by(id: post.user_id.to_i)).first_name %> <%= (User.find_by(id: post.user_id.to_i)).last_name %></p>
  <%end%>
</div>
