<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :post_title %><br />
    <%= f.text_field :post_title%>
  </div>

  <div class="field">
    <%= f.label :post_content %><br />
    <%= f.text_field :post_content%>
  </div>

  <div>
    <%= f.label :pic %>
    <%= f.file_field :pic %>
  </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :post_date, :value => Time.now %>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
<%= link_to "Cancel", post_path(params[:id]) %>
