<div>
  <%= link_to 'Homepage', user_path(current_user.id), method: 'GET' %>

  <%= link_to 'All Posts', all_posts_path, method: 'GET' %></div>


<p><%= @selected_post.post_title %></p>
<p><%= @selected_post.post_content %></p>
<p><h3>COMMENTS</h3></p>
<%= image_tag @selected_post.pic.url, width: '100' %>
<p><%= render @comments %></p>

<% if @current_user_posts.find { |post| post.id == @selected_post.id}  %>
 <%= link_to "edit post", edit_post_path %>
  <%end%>

<%= form_for [@selected_post, @comment] do |f| %>
  <div class="field">
    <%= f.label :Comment %><br />
    <%= f.text_field :comment_content %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :comment_date, :value => Time.now %>
  <%= f.hidden_field :post_id, :value => @selected_post.id %>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<%end%>
