<p><%= @selected_post.post_title %></p>
<p><%= @selected_post.post_content %></p>
<p><%= render @comments %></p>

<%= form_for [@selected_post, @comment] do |f| %>
  <div class="field">
    <%= f.label :Comment %><br />
    <%= f.text_field :comment_content %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :comment_date, :value => Time.now %>
  <%= f.hidden_field :post_id, :value => @selected_post.id %>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<%end%>
