<nav class="navbar navbar-inverse" style="margin:0px; border-radius:0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Travel:On</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", user_path(current_user.id) %></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Create Network', new_network_path %></li>
        <li><%= link_to 'Join Network', network_path(current_user.id) %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Networks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% current_user.networks.each do |user_network| %>
              <li>

                    <%= link_to user_network.network_name, network_posts_path(user_network) %>
              </li>
            <%end%>
          </ul>
        </li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
